<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document HTML</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/styles-tablet.css" />
    <link rel="stylesheet" href="/css/styles-desktop.css" />
    <link rel="stylesheet" href="/css/style-register.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header class="bg-yellow p font-heading text-center">
        <div>

            <section class="font-heading text-center top-nav p">
                <h1 class="w-50">
                    <a href="/">
                        <img src="/img/logo-mercado-liebre.svg" alt="Mercado Liebre" />
                    </a>
                </h1>

                <div class="search-bar w-50">
                    <input class="sb-1" type="text">
                    <button class="button">
                        <i class="fas fa-search button"></i>
                    </button>
                </div>

                <p>
                    <i class=" fas fa-hand-holding-usd p"></i>
                    Compra en cuotas y sin tarjetas de credito
                </p>
            </section>
        </div>

        <nav class="navbar class=" p"">
            <ul class="links p">
                <li style="margin: 0 10px;"><a href=""> Ofertas</a></li>
                <li style="margin: 0 10px;"><a href=""> Tiendas Oficiales</a></li>
                <li style="margin: 0 10px;"><a href=""> Ayuda</a></li>
            </ul>

            <ul class="links p">
                <li style="margin: 0 10px;">
                    <a href="register">Creá tu cuenta <i class=" far fa-id-card"></i></a>
                </li style="margin: 0 10px;">
                <li style="margin: 0 10px;">
                    <a href="login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
                </li style="margin: 0 5px;">
                <li style="margin: 0 10px;"">
                 <a href="">Mis Compras <i class=" fas fa-shopping-basket"></i></a>
                </li>
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <form action="/" method="post"></form>
    <div class="text-center">
        <div class="p p-top">
            <label for=""></label>
            <input type="text" name="userName" id="" placeholder="Nombre de usuario" class="bar-login">
        </div>

        <div class="p">
            <label for=""></label>
            <input type="password" name="password" id="" placeholder="Contraseña" class="bar-login">
        </div>

        <div class="p p-bottom">
            <button type="submit" class="boton-enviar"> <a href="/" style="color: white;width: 100%; text-decoration: none;text-decoration: none;
                    display: flex;
                    justify-content: center;">Enviar</a></button>
        </div>


    </div>
    <footer class="p bg-white">
        <div class="display-flex-nowrap">
            <section class="text-center">
                <div>
                    <i class="fas fa-gift icon"></i>
                    <h2>Pagá con tarjeta o en efectivo</h2>
                    <p>
                        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
                        efectivo en puntos de pago. ¡Y siempre es seguro!
                    </p>
                </div>
            </section>

            <section class="text-center">
                <div>
                    <i class="fas fa-credit-card icon"></i>
                    <h2>Envío gratis desde $ 2.500</h2>
                    <p>
                        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis
                        en miles de productos. Es un beneficio de Mercado Puntos.
                    </p>
            </section>
            <section class="text-center">
                <div>
                    <i class="fas fa-user-shield icon"></i>
                    <h2>Seguridad, de principio a fin</h2>
                    <p>
                        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
                        puedas hacer, porque estás siempre protegid@.
                    </p>
                </div>
            </section>
        </div>
        <section>
            <div style="color: #666;">
                <p style="padding-top: 20px;">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>
        </section>
        </div>
    </footer>
</body>

</html>