@media (min-width: 1200px) {
    .card {
        width: 25%;
        justify-content: space-around;
    }

    .top-nav {
        flex-wrap: nowrap;
    }

    .navbar {
        font-size: 20px;
    }
    .button {
        padding: 10px;
        border: 20px;
        border-radius: 0px 5px 5px 0px;
        background-color: white;
    }
    .footer {
        font-size: 18px;
    }
    .font-heading {
        font-size: 28px;
    }
    .bar-login {
        width: 50%;
    }
    .boton-enviar {
        width: 50%;
    }
    .display-flex-nowrap {
        display: flex;
    }
}
