.register-formularios {
    border: none;
    padding: 15px 100px 15px 15px;
    border-radius: 5px;
    width: 70%;
}
.control-formulario {
    margin-bottom: 5px;
    font-weight: bold;
}
.control-formulario label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    margin: 10px;
}

.boton-register {
    background-color: #eac926;
    border: none;
    border-radius: 5px;
    padding: 10px;
    padding-left: 50px;
    transition: 0.2s;
    animation: reverse;
}

.boton-register:hover {
    background-color: #0022aa;
}

.boton-url {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    transition: all 0.2s;
    animation: reverse;
}
.boton-register:hover .boton-url {
    color: white;
}

.boton-borrar {
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    padding: 10px;
    transition: all 0.2s;
    animation: reverse;
}

.boton-borrar:hover {
    background-color: red;
}

@media (min-width: 1200px) {
    .register-formularios {
        border: none;
        padding: 15px 100px 15px 15px;
        border-radius: 5px;
        width: 30%;
    }
}
